<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<script th:replace="fragments/header :: headerElement"> </script>
		<title th:text="${product.name}">Votes Product</title>
	</header>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class = "container" th:if="${product != null}">
			<h1 th:text="${product.name}">Product</h1>
			
			<div th:each="feature : ${product.features}">
			<div th:if="${user.id==product.user.id}">
				<a th:href="@{/products/{product}/features/{feature}/deleteAFeature(product=${product.id},feature=${feature.id})}" class="btn btn-danger float-end">Delete</a>
			</div>
				<a th:href="@{/products/{product}/features/{feature}(product=${product.id},feature=${feature.id})}" th:text="${feature.title}"></a>
				
				<br>
				<br>
						
			</div>
			
							
			<form th:action = "@{/products/{product}/features(product=${product.id})}" method = "post">
				<input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
				
				<button class = "btn btn-primary btn-lg">Create Feature Request</button>
			</form>
		</div>
	</body>
</html>
